@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color: #000;
}
.header{
  width: 100%;
  height: 100px;
  background-color: #000;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header span{
  color: brown;
  font-size: 28px;
  font-weight: 800;
}
.header ul li {
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
}
.header ul li a{
  color: #fff;
  text-decoration: none;
}
.header i{
  font-size: 28px;
  color: #fff;
  display: none;
}
.hero-section{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 0 5%;
  align-items: center;
}
.hero-text{
  width: 400px;
  height: 300px;
  color: #fff;
}
.hero-text h4{
  font-size: 1.3em;
  color: orange;
}
.hero-text h1{
  padding-top: 15px;
  padding-left: 10px;
  font-size: 40px;
  line-height: 50px;
}
.hero-text p{
  padding-top: 10px;
  padding-left: 15px;
}

.btn {
  padding-top: 20px;
  padding-left: 25px;
  gap: 30px;
}
.btn button{
  padding: 15px 35px;
  background: none;
  background-color: rgb(255, 0, 0);
  border: 1px  solid #000;
  color: #fff;
  margin-left: 5px;
  border-radius: 20px;
}
.hero-img {
  width: 400px;
  height: 300px;
}
.hero-img img{
  width: 400px;
  border-radius: 50%;
}




@media screen and (max-width: 480px) {
  .header h1{
    font-size: 13px;
    margin-top: 20px;
   }
   .header ul{
    display: none;
   }
   .header i{
    display: block;
   }
   .hero-text{
    width: 100%;
    height: 200px;
   }
   .btn{
    display: flex;
    flex-direction: column;
   }
    .btn button{
    padding: 10px 20px;
    }
    .hero-text h1{
    font-size: 20px;
    line-height: 30px;
   }
    .hero-text p{
    font-size: 12px;
    }
    .header span{
    font-size: 20px;
   }
    .header ul li{
    margin-bottom: 10px;
   }
   .hero-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
   }
   .hero-img{
    width: 300px;
    height: 200px;
    padding-top: 20px;
    padding-left: 50px;
   }
   .hero-img img{
    width: 200px;
    border-radius: 50%;
   }
}
